* {
    box-sizing: border-box;
}
body{
    padding:0;
    margin:0;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #eeeeee;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23ffffff' fill-opacity='0.5' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    z-index: 999;
}


.pad {
    padding-top: 15px;
    padding-bottom: 15px;
}


/* Nav Bar */

.burger {
    background-color: #56ccf2;
    color: #000;
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.menu-icons {
    float: right;
}

.sidebar-header {
    font-size: 20px;
    font-weight: 400;

    opacity: 0;                        
    transition: opacity 0.3s;
    margin-top: 40px;                   
}


.burger {
    display: block;
    position: absolute;
    top: 15px;
    left: 22px;
    transition: transform 0.6s;
}

.burger span:first-child {
    transition: opacity 0.6s;
}

.burger span:last-child {
    position: absolute;
    top: 1px;
    left: 2px;
    opacity: 0;
    transition: opacity 0.6s;
}

.burger.open{
    transform: rotate(270deg);
}

.burger.open span:first-child{
    opacity: 0;
}

.burger.open span:last-child{
    opacity: 1;
    color: #fff;
}

/* .main-header ul li {
    display: block;
} */



#sidebar {
    width: 250px;                   
    min-height: 100vh;
    padding: 20px;
    font-size: 25px;
    background: linear-gradient(to bottom, #56ccf2 45%, #2f80ed 60%);
    color: #000;
    transition: all 0.8s;
}

#sidebar .sidebar-header {
    padding: 10px;
    background-color: #56ccf2;
    color: #fff;
}

#sidebar ul.components {
    padding: 10px 0;
}

#sidebar ul li .active-page {
    color: #fff;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: inherit;
    text-decoration: none;
    transition: all 0.8s;
}

#sidebar ul li a:hover {
    color:  #2f80ed;
    background: rgb(255, 255, 255, 0.7);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #000;
}

#sidebar {
    margin-left: -164px;                                
}
#sidebar.active {
    margin-left: 0;
}

.active .sidebar-header {
    opacity: 1;             
}


/* Main Page Content */

#main-content {
    /* display: flex;
    align-items: center; 
    height: 100vh;*/
    padding: 0 0 70px 110px;
    margin: 100px 0;
}

.vert-align {
    margin: auto;
}

.white-box {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    width:100%;                                      
    line-height: 1.6;
    box-shadow: 5px 10px 20px #000;
    text-align: justify;
    margin: auto;
}

.white-box p, .service-box p {
    font-size: 15px;
    color: #000;
    width: 100%;
    word-wrap: break-word;

}

.white-box {
    margin: auto;
}

.bio h1 {
    font-weight: 900;
}

.pic-button, .contact-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;                    
}

.circle {
    border-radius: 50%;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 100px #000;
  }
 
  .contact-btn {
    /* margin: 20px; */
    margin: 20px auto;
    padding: 10px;
    background-color: #56ccf2;
    color: #000;
    font-size: 25px;
    font-weight: 500;
    box-shadow: 5px 3px 10px #000;
    text-decoration: none;
    width: 30%;
    transition: 1s;
    text-align: center;
}

.contact-btn:hover{
    color: #fff;
    background: #56ccf2;
    box-shadow: 0 0 10px #000, 0 0 40px #000, 0 0 80px #000;
    border-radius: 15px;
    /* background-color: #2f80ed;
    box-shadow: 0 5px 50px #000; */
    border-radius: 50px; 
    text-decoration: none;
}


 /* Footer */
footer {
    position: fixed;
    bottom: 0;
    display: inline-block;
    text-align: center;
    background-color: #2f80ed;
    width: 100%;
    padding: 5px;
}

.social {
    color: #000;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.social {
    transition: .5s;
    z-index: 3;
}

.social:hover {
    color: #56ccf2;
    shadow: 5px 5px 5px #56ccf2;
    transform: rotateY(360deg);
}

/* Services Content */

.service {
    font-weight: 900;
    color: #000;
}

.grid-img {
    width: 100%;
    height: auto;
    box-shadow: 5px 10px 20px #000;
}

.service-box {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    width:100%; 
    height: 100%;                                     
    line-height: 1.6;
    box-shadow: 5px 10px 20px #000;
    text-align: justify;
}

/* Audio Player */
.audio-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    margin: 15px;
    width:100%;                                      
    line-height: 3;
}

.audio-box ul{
    padding: 10px;                                      
}

.song{
    list-style-type: none;
}

.artist-name {
    font-weight: 700;
}

.player-box {
    border-radius: 10px;
    background: #fff;
    overflow: hidden;
    position: relative;
    box-shadow: #b6bbbd 3px 0px 9px 5px;
    margin-right: 10px;
    padding: 70px 0; 
}

.player-box .album-art {
    background-size: cover;
    width: 50%;
    height: 50%;
}



.controls-col {
    padding: 70px 0;
}

.progress {
    background-color:#ccc;
    height:4px;
    width:400px;
    margin-left: auto;
    margin-right: auto;
}
.bar {
    background-color:#000;
    height:6px;
    width:0%;
    transition: width 0.2s;
}
.controls {
    border: none;
    color:#000;
    background-color: #fff;
    cursor: pointer;
    padding: 20px;
}

.controls-box i {
    font-size: 30px;
}

.vol {
    padding-right: 10px;
}

.tracklist {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 2;
}


.playlist-title {
    font-size: 50px;
    font-weight: 800;
    color: #000;
}

.song {
    text-decoration: none;
    padding: 10px;
    color: #000;
    cursor: pointer;
}

.albumart {
    margin-top: 10px;
}

.audio-time {
    margin-top: 15px;
}

#current-time {
    float: left; 
    position: relative; 
    left: 15px;
}

#duration {
    float: right; 
    position: relative; 
    right: 20px;
}


.playing, .song:hover {
    background-color: #2f80ed;
    padding: 10px;
    color:#fff;
    }

#pauseBtn {
  display: none;
}

/* Volume Style */
#volume {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 30px;
}
  
#volume:hover {
    opacity: 1;
    background: #000;
}
  
#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2F80ED;
    cursor: pointer;
    
}
  
#volume::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #2F80ED;
    cursor: pointer;
}

.email {
    word-wrap: break-word;
}



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .contact-btn {
        font-size: 20px;
        font-weight: 500;
        width: 40%;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .circle {
        width: 300px;
        height: 300px;
        margin-top: 20px;
    }

    .contact-btn {
        font-size: 20px;
        font-weight: 500;
        width: 40%;
    }

    .progress {
        height:5px;
        width:300px;
    }

    .controls-box i {
        font-size: 25px;
    }

    #volume {
        display: none;
    }

    #muteBtn{
        display: none;
    }

    .playlist-title {
        font-size: 30px;
    }

    .song{
        font-size: 12px;
    }


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .burger {
        font-size: 15px;
        text-align: center;
        left: 16px;
    }
    
    .sidebar-header  h2{
        font-size: 15px;
    }

    #sidebar {
        width: 150px;                   
        padding: 20px;
    }
    #sidebar {
        margin-left: -88px;                                
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 15px;
    }

    #sidebar ul li a{
        font-size: 15px;
        padding-left: 5px;
    }

    .menu-icons {
        margin-left: 10px;
    }

    #main-content{
        padding: 0 0 70px 88px;
        margin: 20px 0;
    } 


    .contact-btn {
        font-size: 10px;
        font-weight: 500;
        width: 40%;
    }

    .progress {
        height:5px;
        width:200px;
    }

    .controls-box i {
        font-size: 20px;
    }

    .social {
        color: #000;
        font-size: 20px;
        padding: 10px;
    }

    #current-time, #duration {
        font-size: 10px;
    }

    #volume {
        display: none;
    }

    #muteBtn{
        display: none;
    }

    .playlist-title {
        font-size: 30px;
    }

    .song{
        font-size: 12px;
    }

    .player-box {
        padding: 0;
    }

    

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .circle {
        width: 200px;
        height: 200px;
        margin-top: 20px;
    }

    .white-box p {
        font-size: 12px;
    }

    .service{
        font-size: 20px;
    }

    .service-box p{
        font-size: 10px;
        margin-bottom: 1px;
    }

    .service-box ul li{
        font-size: 10px;
    }

    footer {
        padding: 2px;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}